@use 'helpers' as *;

.block-accordion {

    .accordion-item {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        .accordion-title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            font-size: 1.75rem;

            background: map-get($colors, 'dark-2');
            color: map-get($colors, 'white');
            padding: 20px;
            cursor: pointer;
            margin-bottom: 0;
        }

        .accordion-content {
            background-color: map-get($colors,'white-2');
            padding: 20px;
            display: none;
        }
    }
}