@use 'helpers' as *;

.sticky-column{
    @include minBreakpoint('md'){position: sticky !important; position: -webkit-sticky !important; z-index: 999; top: 80px;}
    @include maxBreakpoint('md'){top: initial !important;}
}

.has-media-bg{
    min-height: 15rem;
    @include minBreakpoint('sm'){min-height: initial;}

    &.collapse-tablet{
        min-height: 15rem;
        @include minBreakpoint('sm'){min-height: 20rem;}
        @include minBreakpoint('md'){min-height: initial;}
    }
}

.block-column{
    &.collapse-tablet{
        @include minBreakpoint('sm'){margin-top: 0;}
    }

    & > .full-link{
        @include fullAbsolute(4);
    }
}

.block-columns-row{

    &.d-flex{
        flex-flow: row nowrap;

        &.wrap-mobile{
            @include maxBreakpoint('sm'){flex-flow: row wrap;}
        }
        &.wrap-sm{
            @include maxBreakpoint('md'){flex-flow: row wrap;}
        }
        &.wrap-md{
            @include maxBreakpoint('lg'){flex-flow: row wrap;}
        }
        &.wrap-lg{
            @include maxBreakpoint('xl'){flex-flow: row wrap;}
        }
    }
    
    &.ai-stretch{

        .block-column,
        .block-column-content{
            height: 100%;
        }
    }

    .block-column-content{
        position: relative;
        z-index: 3;
    }
}