@use 'helpers' as *;
  
.block-countdown-timer {
    .pgn-countdown-container {
      background: linear-gradient(90deg, #404eaa, #fb2c59);
      @include pad($padMD);
      border-radius: 3px;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr;
      grid-gap: 1.5rem;
      @include minBreakpoint('md'){grid-template-columns: 1fr 2.5fr;}
      @include minBreakpoint('lg'){grid-template-columns: 1fr 3fr;}
  
      h3 {
        margin: 0;
        text-align: center;
        font-size: 1.625rem;
        @include minBreakpoint('sm'){font-size: 2.25rem;}
        @include minBreakpoint('md'){font-size: 2rem; text-align: right;}
        @include minBreakpoint('lg'){font-size: 2.5rem;}
      }
  
      .pgn-timer-tiles {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;
        
        @include maxBreakpoint('md') {
            margin: 0;
            padding: 0;
        }
  
        li {
          text-align: center;
          color: inherit;
          font-size: .75rem;
          @include minBreakpoint('xs'){font-size: 1rem;}
          @include minBreakpoint('sm'){font-size: 1.125rem;}
  
          span {
            font-size: 1.75rem;
            display: block;
            text-align: center;
            margin: 0 auto .25rem;
            font-weight: 700;
            @include minBreakpoint('xs'){font-size: 2rem;}
            @include minBreakpoint('sm'){font-size: 4rem;}
          }
          margin: 0;
          line-height: normal;
        }
      }
    }
  }
  