@use 'helpers' as *;


.hero-slider-block {
    position: relative;
    overflow: hidden;
    

    .hero-container {
        position: inherit;

        .hero-content-inner {
            padding-bottom: map-get($yPad,'xl');
            position: absolute;
            z-index: 3;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            @include containerXPad;

            @include minBreakpoint('xl'){
                padding-bottom: map-get($yPadLG,'xl');
            }

            .hero-wrap {
                max-width: $site_container_width;
                width: 100%;
                margin: 0 auto;
            }

            .hero-heading {
                margin-top: 0;
                margin-bottom: 3rem;
                color: map-get($colors, 'white');
            }
        }

        .hero-slider-inner {
            .hero-slider {
                height: calc(100vh - 5.75rem);

                img {
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                    object-position: top;
                }

                @include maxBreakpoint('sm') {
                    height: calc(80vh - 8rem);

                    img {
                        height: calc(80vh - 8rem);
                    }
                }
            }
        }
    }
}