@use 'helpers' as *;


// Custom Classes
.logo-section.block-section  {
    img {
        @include maxBreakpoint('sm'){padding: .5rem .75rem;}
        opacity: 0.65;
    }
}

.separator {

    &.block-columns-row .block-column:not(:last-child):after {
        width: 1px;
        height: calc(100% - 6rem);
        display: block;
        content: '';
        background: #d7e8ee;
        position: absolute;
        top: 50%;
        bottom: 0;
        transform: translateY(-50%);

        @include maxBreakpoint('sm') {
            display: none;
        }
    }

    &.light .block-column:not(:last-child):after {
        background: white;
    }

    &.cols-2 .block-column:not(:last-child):after {
        right: -3rem;
    }

    &.cols-3 .block-column:not(:last-child):after {
        right: -1.25rem;
    }
}

.width-translate-right img {
    transform: translateX(100%);

    @include maxBreakpoint('sm') {
        display: none;
    }
}

.connector-arrow img{
    @include maxBreakpoint('sm'){padding: 1.5rem; transform: translateX(-1rem);}
}

.center-mobile {
    text-align: center;

    img {
        margin: auto;
    }
}

.light-on-mobile {
    @include maxBreakpoint('md') {
        color: white!important;
    }
}

.hide-desktop {
    display: none!important;
    @include maxBreakpoint('sm') {
        display: block!important;
    }
}

.hide-mobile {
    @include maxBreakpoint('sm') {
        display: none!important;
    }
}

.border-radius-10 img,
.border-radius-10 .overlay {
    border-radius: 10px;
}

.line-height-md {
    line-height: 1.5em;
}

.rm-border-top-right img {
    border-top-right-radius: 0!important;
}
.rm-border-top-left img {
    border-top-left-radius: 0!important;
}

.testimonial-slider h4 {
    line-height: 1.4;
}

.aspect-ratio-21-9 .lightbox-poster {
    padding-top: 42.85%;
}

.align-slider-dots .block-columns-row.d-grid {
    align-items: stretch;

    .acf-innerblocks-container,
    .block-slider {
        height: 100%;
    }
}


.text-xxs {
    font-size: 0.75rem!important;
}

.top-block-overlap-dark,
.top-block-overlap-light {
    position: relative;

    h1, h2, h3, h4, h5, h6, p {
        position: relative;
    }
}

.top-block-overlap-dark{
    .block-fw-media-col{
        @include minBreakpoint('md'){min-height: 400px;}
        @include minBreakpoint('lg'){min-height: 500px;}
    }

    &:before{
        content: '';
        width: 100%;
        position: absolute;
        top: 0;
        display: block;
        background: map-get($colors, 'dark-2');
        @include minBreakpoint('md'){height: 5rem;}
        @include minBreakpoint('lg'){height: 10rem;}
    }
}

.top-block-overlap-light:before {
    content: '';
    height: 12rem;
    width: 100%;
    position: absolute;
    top: 0;
    display: block;
    background: map-get($colors, 'white');
}

