@use 'normalize';
@use 'typography';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

// Sticky Footer
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &.hide-content{
        header, main,.announcement-bar{
            visibility: hidden;
        }
        header{
            transform: translateY(-100%);
        }
    }
}
#content{
    flex: 1 0 auto;
    overflow-x: clip;
}

img{
    display: block;
    max-width: 100%;
    height: auto;

    &.alignleft {
        float: left;
        margin-right: 1.5em;
    }
    
    &.alignright {
        float: right;
        margin-left: 1.5em;
    }
    
    &.aligncenter {
        clear: both;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
//Entrance Animations
.fade-in,.fade-up,.fade-down,.fade-left,.fade-right{
    visibility: hidden;
}

.fade-right{
    transform: translateX(-3.5rem);
}

.fade-left{
    transform: translateX(3.5rem);
}

.fade-down{
    transform: translateY(-3.5rem);
}

.fade-up{
    transform: translateY(3.5rem);
}

