@use 'helpers' as *;

.announcement-bar {
    background-color: map-get($colors, 'dark-2');
    width: 100%;
    @include containerXPad;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    p, a {
        color: white;
        font-size: 0.625rem;
        font-family: map-get($fonts, 'raleway');
        text-transform: uppercase;
        letter-spacing: 0.5px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 0;
    }
}