@use 'helpers' as *;

.blog-banner {
    background-color: map-get($colors, 'sky-blue-2');
    h1 {
        margin: 0!important;
        color: white;
    }
}

.blog-archive-container, .blog-post-container {

    .blog-inner, .blog-post-inner {
        display: grid;
        grid-template-columns: 1fr 20rem;
        align-items: start;
        grid-gap: 6rem;
        margin: 0 auto;

        @include maxBreakpoint('md') {
            grid-template-columns: 1fr;
            grid-gap: 4rem;
        }
        

        .blog-posts {

            @include maxBreakpoint('sm') {
                grid-template-columns: 1fr;
                grid-column: 1;
            }

            .blog-post, nav {
                @include maxBreakpoint('sm') {
                    grid-column: span 1!important;
                }
            }

            .numbered-pagination {
                grid-column: span 2;
                border-top: 1px solid #ddd;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 2rem;
                margin-top: 2rem;

                a, span {
                    font-size: 22px;
                    margin: 0px 10px;
                }
            }
        }
    }

    .blog-sidebar {

        ul {
            margin-top: 0;
            padding-left: 0;
        }
        
        ol {
            padding-left: 0;
        }

        h2 {
            font-size: 1.75rem;
            margin: 2rem 0 1rem;
            @include minBreakpoint('md'){margin: 2.5rem 0 1rem;}
        }

        select{
            background: map-get($colors, 'white-2');
            border: 1px solid #ddd;
            padding: .75rem;
            width: 100%;
        }

        .widget_block {
            ul {
                margin: 0 !important;

                li{
                    line-height: 1.25;

                    &:not(:last-child){
                        margin-bottom: 1rem;
                    }
                    strong{
                        font-weight: 400;
                    }
                }
            } 
        }
    }

    .blog-post-inner {

        h1.blog-post-title {
            line-height: 1.05;
            font-size: 2.5rem;
            @include minBreakpoint('sm'){font-size: 3.5rem;}
            @include minBreakpoint('md'){font-size: 4rem;}

            strong{
                font-weight: 400 !important;
            }
        }

        figure.wp-block-image{
            margin: 1.5rem 0;

            &:first-child{
                margin-top: 0;
            }

            &:last-child{
                margin-bottom: 0;
            }
        }

        .pgn-social-sharing{
            @include spaceTop($spaceLG);
            padding: 1.5rem 0 1.75rem;
            border-width: 1px 0;
            border-style: solid;
            border-color: #ddd;
        }

        .blog-post-pagination{

            a{
                color: map-get($colors, 'navy-dark');
                font-weight: 600 !important;
                line-height: 1.25;
                display: inline-flex;
                align-items: center;
                font-size: 1rem;
                @include columnGap($gapXS);

                strong{
                    font-weight: 600 !important;
                }
            }

            &-prev{
                @include minBreakpoint('sm'){grid-column: 1;}
            }
        
            &-next{
                @include minBreakpoint('sm'){ display: flex; justify-content: flex-end; grid-column: 2; text-align: right;}
            }
        }

        .blog-post-meta{
            display: block;
            @include minBreakpoint('sm'){display: inline-flex;}
        
            a,p,span,div,i{
                font-size: 1rem;
            }
        
            .divider{
                display: none;
                @include minBreakpoint('sm'){margin: 0 .75rem; display: block;}
            }
        
            .post-date{
                display: flex;
                align-items: center;
                gap: .5rem;
                @include minBreakpoint('sm'){gap: .75rem;}
            }
        }

        .featured-image-container {
            img:hover {
                transform: unset;
            }
        }
    }

    &.category-archive {
        .blog-inner {
            grid-template-columns: 1fr;
        }

        .blog-posts {
            .numbered-pagination {
                grid-column: span 3;
            }
        }
        
    } 
}

