@use 'helpers' as *;

.site-footer{
    width: 100%;
    background: map-get($colors, 'navy-dark');
    @include containerXPad;
    @include containerYPad($yPadSM);

    .footer-inner {
        max-width: $site_container_width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid map-get($colors, 'dark-2');
        padding-bottom: 50px;
        padding-top: 20px;
        margin-bottom: 40px;

        @include maxBreakpoint('sm') {
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
        }

        .site-info {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 3.25rem;

            @include maxBreakpoint('sm') {
                flex-direction: column;
                gap: 2rem;
            }

            .logo-and-socials {

                .site-logo {
                    img {
                        max-width: 15rem;
                        width: 100%;
                        @include minBreakpoint('sm'){max-width: 20rem;}
                        @include minBreakpoint('md'){max-width: 350px;}
                    }
                }
    
                .footer-socials {
                    padding-left: 0;
                    display: flex;
                    justify-content: flex-start;
                    gap: 1.5rem;
                    margin-top: 2.5rem;
                    margin-bottom: 0;
                    @include minBreakpoint('sm'){justify-content: space-between; gap: 30px; margin-top: 40px;}
    
                    li {
                        list-style: none;
                        margin: 0;
    
                        i {
                            font-size: 26px;
                            color: white;
                        }
                    }
                }

            }

            .contacts-and-location {
                padding-left: 20px;

                @include maxBreakpoint('sm') {
                    padding-left: 0;
                    margin-bottom: 30px;
                }

                p, a {
                    font-size: 16px;
                    color: white;
                    font-weight: 500;
                }

                a {
                    font-size: 15px;
                    text-decoration: underline;
                    display: inline-block;
                    margin-right: 10px; 
                    
                    &:hover {
                        color: $color_link_hover;
                    }
                }
            }
        }

        .partner-logos {
            display: flex;
            align-items: center;
            flex-shrink: 1;
            @include minBreakpoint('sm'){padding-left: 2rem;}

            & > div{
                margin-right: 1.25rem;

                &:last-child{
                    margin-right: 0;
                }
            }

            img {
                max-height: 90px;
                width: 100%;
                object-fit: contain;
            }
        }
    }

    &.lp-footer .footer-copyright{
        justify-content: center !important;
    }

    .footer-copyright {
        max-width: $site_container_width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include maxBreakpoint('sm') {
            flex-direction: column-reverse;
        }

        p, a {
            margin-bottom: 0;
            font-size: 12px;
            color: #e7e7e7;
            letter-spacing: 0.5px;
            font-weight: 400;
            line-height: 1;
        }

        #footer-menu {
            margin: 0;
            padding: 0;
            display: flex;
            gap: 20px;

            @include maxBreakpoint('sm') {
                gap: 0;
                flex-direction: column;
                text-align: center; 
                margin-bottom: 30px;
            }

            li {
                list-style: none;
            }
        }
    }
} 