@use 'helpers' as *;

#site-navigation{
    display: flex;
    align-items: center;
    gap: 30px;
    @include minBreakpoint('md'){gap: 1.25rem;}
    @include minBreakpoint('lg'){gap: 1.875rem;}

    ul{
        margin: 0;
        padding: 0;
        list-style: none;

        li{
            margin-bottom: 0;

            a{
                position: relative;
                display: block;
            }
        }
    }

    .theme-button.header {
        @include maxBreakpoint('sm') {
            display: none;
        }
        @include minBreakpoint('sm'){padding: .875rem 1rem; font-size: .85rem; letter-spacing: 1px;}
        @include minBreakpoint('lg'){padding: .9rem 1.5rem; font-size: .9rem; letter-spacing: 2px;}
    }

    .primary-phone{
        color: map-get($colors, 'sky-blue-3');
        display: none;
        @include minBreakpoint('md'){font-size: 1.125rem; display: block;}
        @include minBreakpoint('lg'){font-size: 1.25rem;}
    }
    

    #primary-menu{
        display: none;
        @include minBreakpoint('md'){display: flex;}

        & > li{
            margin-right: 1.5rem;
            @include minBreakpoint('lg'){margin-right: 2.5rem;}

            &:last-child{
                margin-right: 0;
            }

            &.phone-cta > a{
                color: map-get($colors, 'sky-blue-3') !important;
                font-weight: 500 !important;
            }

            & > a{
                opacity: 0.8;
                font-size: 1rem;
                font-weight: 400;
                color: white;
                padding: .75rem 0;
                @include minBreakpoint('lg'){font-size: 1.1rem;}

                &:hover{
                    opacity: 1;
                    color: map-get($colors, 'sky-blue-3')!important;
                }
            }

            &.current-menu-item > a{
                color: map-get($colors, 'sky-blue-3')!important;
            }
        }

        //Submenus
        & > li.menu-item-has-children{
            position: relative;
            
            ul{
                @include hiddenItem;
                width: 16rem;
                left: -.75rem;
                transition: opacity .2s ease-out;
            }

            //First Level
            & > ul{
                box-shadow: 3px 3px 8px rgba(0,0,0,0.2);

                li{
                    margin: 0;
                    padding: 0;
                }

                & > li{
                    position: relative;

                    a{
                        padding: .75rem;
                        color: rgba(#FFF, .85);
                        background-color: map-get($colors, 'dark-slate-blue');
                        font-size: 1.1rem;
                        //text-transform: uppercase;
                        line-height: 1.3;
                        display: block;
                        font-family: $heading_font;

                        &:hover{
                            background-color: map-get($colors, 'slate-grey');
                        }
                    }

                    //Second Level
                    & > ul{
                        @include hiddenItem;
                        top: 0;
                        left: 100%;
                    }

                    &.current-menu-item > a{
                        color: map-get($colors, 'blue-light');
                    }
                }

                //Submenu indicator icon
                & > li.menu-item-has-children > a::after{
                    content: "\f054";
                    font-family: 'Font Awesome6 Pro';
                    font-weight: 900;
                    padding-left: .3125rem;
                    position: absolute;
                    right: .5rem;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        li.menu-item-has-children:hover > ul{
            opacity: 1;
            visibility: visible;
            z-index: 999;
            transform: none;
        }

        //Submenu indicator icon
         & > li.menu-item-has-children > a::after{
            content: "\f078";
            font-family: 'Font Awesome 6 Pro';
            font-weight: 900;
            padding-left: .3125rem;
            display: inline;
            font-size: .8rem;
        }
    }

    //Hamburger icon for mobile menu toggle
    .menu-icon{
        position: relative;
        cursor: pointer;
        color: map-get($colors, 'white');
        font-size: 1.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include minBreakpoint('sm'){font-size: 1.5rem;}
        @include minBreakpoint('md'){display: none;}
    }
}