@forward 'colors';
@forward 'spacing';
@forward 'typography';

//Site Content Containers
$site_container_width: 90rem;
$site_container_width_xl: 100rem;

//Media breakpoints used in mixins, 
$minBreakpoints : (
    'xs' : 36rem,
    'sm' : 48rem,
    'md' : 64.0625rem,
    'lg' : 90rem,
    'xl' : 1921px
);

//Header Logo
$logoSizes : (
    'mobile': 10rem,
    'sm' : 11.25rem,
    'md' : 10rem,
    'lg' : 11.25rem
);

//Mobile Menu Logo
$mmLogoSizes : (
    'mobile' : 12.5rem,
);